.taskPannel {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
  background-color: #fff;
  margin: 2em 0;
  padding: 1.5em;
  border-radius: 1.5em;
}
h3 {
  text-align: center;
  font-size: 1.4em;
}
