.taskPannel {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  background-color: #fff;
  margin: 2em 0;
  padding: 1.5em;
  border-radius: 1.5em;
}
h3 {
  text-align: center;
  font-size: 1.4em;
}
button {
  cursor: pointer;
  padding: 0.5em;
  margin: 0em 0.7em;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border: none;
}
.btnEdit {
  background-color: #007fff;
}
.btnDelete {
  background-color: #ff2e2e;
}
